body{
    margin:0;
    font-family: Arial, sans-serif;
}

h2{
    margin: 0;
}

p{
    margin:0;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
a:hover{
    text-decoration: underline;
    color: #0d83dd;
}
div > h2{
    font-size: 1rem;
    font-weight: lighter;
}
button{
    border: 0;
    background-color: transparent;
    color: white;
    font-size: medium;
}

div > i {
    font-size: 0.8rem;
    margin: 2px 0 0 2px;
    }

#promotion-discount{
    max-height: 100px;
    width: 100%;
    background-color: #062942;
    text-align: center;
    font-size: 1.125rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0px;
}

#promotion-discount > p > span{
    font-weight: bolder;
}

#promotion-discount > p > a{
    color: #efc100;
    font-weight: bolder;
}

header {    
    display: flex;
    flex-direction: row;
    height: 72px;
    width: 100%;
    padding: 16px 0px;    
}
.app-container{
    width: 95%;
    margin: 0 auto 0 auto;
}

.header-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 76px;
    background-color:white;
    padding: 10px 30px;
    border-bottom: 1px solid rgb(228, 228, 228);
    left: 222px;
}

.nav-option{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 30px;
    background-color:white;
    margin: 30px 20px;
}
#subclass-feature{
    position: absolute;
    width: 300px;
    height: auto;
    background-color:white;
    top:100px;
    border-radius: 8px;
    border: 1px solid rgb(228, 228, 228);
}
#subclass-feature > li{
    display: inline-block;
    list-style: none;
    margin: 20px;
}
#who{
    width: 80px;
}

.nav-option:first-child{
    margin-top: 25px;
}
.option{
    margin-top: 5px;
}

.right-option{
    display: flex;
    flex-basis: 60%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;
    font-size: .8125rem;
    line-height: 2;
}

.right-option > div {
    margin: 0px 10px;
}

#call{
   color: white;
   padding: 1px 3px;
   background-color:#0d83dd;
   border-radius: 6px;
   font-size: smaller;
}



#button{
    background-color: #85c525;
    padding: 5px 7px;
    border-radius: 8px;
    background-color: #85c525;
}

#home{
    display: inline-flex;
    width: 121px;
    height: 29,656px;
}

.show-info{
list-style: none;
display: none;
}

.show-resources{
list-style: none;
display: none;
}

   
#join{
    align-items: flex-start;
}
      
#banner{
   width:100% 
}